---
// Import images
import angleGradientIconImg from "@assets/img/symbols/angle-icon-gradient.svg";
import filterIconImg from "@assets/img/symbols/filter.svg";
import promotedStarIconImg from "@assets/img/symbols/promoted-star.svg";

// Import data
import getDevices from "@logic/build/getDevices.js";

import progressStages from "@data/progressStages.json";
import releases from "@data/releases.json";

// Elaborate data
const unfliteredDevices = await getDevices("get-all-devices");
const devices = unfliteredDevices
  .filter((d) => !d.unlisted)
  .sort((a, b) => b.progress - a.progress);
---

<!-- Sidebar -->
<div class="sidebar d-print-none">
  <!-- Mobile Toggler -->
  <a class="sidebar-toggler toggle-sidebarCollapse h6 light d-lg-none">
    <span id="deviceCountMobile">{devices.length} supported devices</span>

    <img src={angleGradientIconImg} class="dark-invert" />
  </a>
  <!-- Collapse -->
  <div id="sidebarCollapse" class="lg-collapse-always-shown collapse">
    <!-- Tab Content -->
    <div id="tabContent" class="tab-content advanced-filters">
      <!-- Search -->
      <input
        id="searchInput"
        class="input"
        type="text"
        placeholder="Search device"
      />
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h3 class="h6 d-none light d-lg-inline">
          <span id="deviceSearchCount" class="small">
            {devices.length} devices
          </span>
        </h3>

        <span
          class="advanced-filter-toggle sidebar-filter-icon btn btn-light btn-small me-3"
        >
          <img class="d-inline dark-invert me-2" src={filterIconImg} />
          <span>Filters</span>
        </span>
      </div>

      <hr />

      <!-- Advanced filters -->
      <div id="advancedFilters" class="advanced-filters-collapse collapse">
        <div class="mt-4">
          <h6 class="small my-3">Show only</h6>

          <label
            ><input name="deviceType" type="checkbox" value="phone" /><span
              class="badge me-1 mb-2 px-3 py-1">Phone</span
            >
          </label>
          <label
            ><input name="deviceType" type="checkbox" value="tablet" /><span
              class="badge me-1 mb-2 px-3 py-1">Tablet</span
            >
          </label>
          <label
            ><input name="deviceType" type="checkbox" value="tv" /><span
              class="badge me-1 mb-2 px-3 py-1">Others</span
            >
          </label>
        </div>

        <div>
          <h6 class="small my-2">Features</h6>

          <label
            ><input name="installerFilter" type="checkbox" checked /><span
              class="badge me-1 mb-2 px-3 py-1">Installer</span
            >
          </label>
          <label
            ><input name="waydroidFilter" type="checkbox" /><span
              class="badge me-1 mb-2 px-3 py-1">Waydroid</span
            >
          </label>
          <label
            ><input name="displayOutFilter" type="checkbox" /><span
              class="badge me-1 mb-2 px-3 py-1">Display out</span
            >
          </label>
        </div>

        <div>
          <h6 class="small my-2">Development Stage</h6>

          {
            progressStages.map((stage, index) => (
              <label>
                <input
                  name="featureStage"
                  type="radio"
                  value={index}
                  {...(index == 2 ? { checked: true } : {})}
                />
                <span
                  class={
                    (index <= 2 ? "text-highlight " : "") + "star-scale m-1"
                  }
                >
                  ★
                </span>
              </label>
            ))
          }
          <span id="portStageLabel" class="pl-3">{progressStages[2].name}</span>
        </div>

        <div>
          <h6 class="small my-2 mt-3">Built on</h6>

          {
            ["Halium", "Native", "Legacy"].map((pType) => (
              <label>
                <input name="portType" type="checkbox" value={pType} />
                <span class="badge me-1 mb-2 px-3 py-1">{pType}</span>
              </label>
            ))
          }
        </div>

        <div>
          <h6 class="small my-2">Release</h6>

          {
            releases.list
              .filter((release) => !release.hidden)
              .map((release) => (
                <label>
                  {release.name == releases.default ? (
                    <input
                      name="release"
                      type="radio"
                      value={release.name}
                      checked
                    />
                  ) : (
                    <input name="release" type="radio" value={release.name} />
                  )}
                  <span class="badge me-1 mb-2 px-3 py-1">
                    {release.name}
                    {release.obsolete && "(outdated)"}
                    {release.dev && "(prerelease)"}
                  </span>
                </label>
              ))
          }
        </div>

        <div>
          <h6 class="small my-2">Sort by</h6>

          <label
            ><input name="sortOrder" type="radio" value="name" /><span
              class="badge me-1 mb-2 px-3 py-1">ABC</span
            >
          </label>
          <label
            ><input
              name="sortOrder"
              type="radio"
              value="progress"
              checked
            /><span class="badge me-1 mb-2 px-3 py-1">Progress</span>
          </label>
          <label
            ><input name="sortOrder" type="radio" value="price" /><span
              class="badge small me-1 mb-2 px-3 py-1">Price</span
            >
          </label>
        </div>
      </div>

      <!-- All -->
      <div id="all" class="tab-pane fade show active" aria-labelledby="all-tab">
        <ul class="devices-list">
          <!-- Item -->
          {
            devices.map((device) => (
              <li
                class="device-name"
                data-id={device.codename + "@" + device.release}
                data-name={device.name}
                data-progress={device.progress}
                data-price={device.price?.avg}
              >
                <a
                  href={device.path}
                  title={device.name + " - Progress: " + device.progress + "%"}
                >
                  <div class="container-fluid">
                    <div>
                      {!!device.tag && (
                        <span class={"badge device-tag-" + device.tag}>
                          {device.tag == "promoted" ? (
                            <img
                              class="both-invert"
                              src={promotedStarIconImg}
                            />
                          ) : (
                            device.tag
                          )}
                        </span>
                      )}
                      <span
                        class={
                          device.tag == "promoted"
                            ? "align-text-bottom px-1"
                            : ""
                        }
                      >
                        {device.name}
                      </span>
                    </div>
                    <div>
                      <div class="progress progress-sidebar">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style={"width: " + device.progress + "%"}
                          aria-valuenow={device.progress}
                          aria-valuemin="0"
                          aria-valuemax="1"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="text-center me-3 mt-3">
        <span id="searchNoResults" class="d-none">
          <p class="bold mb-1">This device isn't ported yet.</p>
          <p class="mb-1">Do you own one and want Ubuntu Touch on it?</p>
          <a
            class="link"
            href="https://docs.ubports.com/porting/"
            target="_blank"
            rel="noreferrer noopener">&rarr; Then start your own port.</a
          >
        </span>
        <span id="filteredWarning" class="d-none">
          <p class="bold mb-1">Some devices are hidden by filters.</p>
          <a
            href="#sidebarCollapse"
            class="mb-1 advanced-filter-show btn btn-small btn-outline-primary bold mx-2"
            >Change filters</a
          >
          <a
            id="disableFilters"
            class="mb-1 advanced-filter-show btn btn-small btn-light bold mx-2"
            >Disable filters</a
          >
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  import { componentScriptLoader } from "@logic/client/clientNavigation.js";
  import FlexSearch from "flexsearch";
  import progressStages from "@data/progressStages.json";

  // Run once
  componentScriptLoader("#sidebarCollapse", () => {
    // Regenerate search results
    function search(e) {
      // Update colored stars if triggred by filter click
      if (!e || e.target.name == "featureStage") {
        let current = false;
        document.querySelectorAll("[name='featureStage']").forEach((el) => {
          let starSpan = el.parentElement.children[1];
          if (el.checked) {
            current = true;
            document.getElementById("portStageLabel").innerText =
              progressStages[el.value].name;
          }
          if (current) starSpan.classList.remove("text-highlight");
          else starSpan.classList.add("text-highlight");
        });
      }

      // Get search term and fetch matching codenames
      const searchTerm = document.getElementById("searchInput").value;
      const isSearched = searchTerm.length >= 2;
      let results = [];

      if (isSearched) {
        results = FSdoc.search({
          query: searchTerm,
          limit: 50,
          enrich: true
        });

        // Format data
        results = [].concat(...results.map((r) => r.result));
      } else {
        results = window.searchData;
      }

      let unfilteredCount = [...new Set(results)].length;
      results = [...new Set(applyFilters(results))];
      displayResults(results, unfilteredCount);
    }

    // Sort based on given parameter
    function sort() {
      const sortVal = getFilterValues(["sortOrder"])[0];

      // Get list elements from DOM
      let listElement = document.getElementsByClassName("devices-list")[0];
      let deviceList = Object.values(listElement.children);
      let outList = deviceList.sort((a, b) => {
        if (!a.dataset[sortVal]) return 1;
        if (!b.dataset[sortVal]) return -1;
        return sortVal == "name"
          ? a.dataset[sortVal].localeCompare(b.dataset[sortVal])
          : parseInt(b.dataset[sortVal]) - parseInt(a.dataset[sortVal]);
      });
      while (listElement.lastChild) {
        listElement.removeChild(listElement.lastChild);
      }
      outList.forEach((el) => {
        listElement.appendChild(el);
      });
    }

    function displayResults(results, unfilteredCount) {
      // Get list elements from DOM
      let deviceList = Object.values(
        document.getElementsByClassName("devices-list")[0].children
      );

      // Hide (display: none) all non-matching devices
      deviceList.forEach((device) => {
        let isShown = results.includes(device.dataset.id);
        if (!isShown) device.classList.add("d-none");
        else device.classList.remove("d-none");
      });

      setResultsCount(results.length, unfilteredCount);
    }

    // Apply search filters
    function applyFilters(results) {
      const filters = getFilterValues([
        "deviceType",
        "portType",
        "featureStage",
        "installerFilter",
        "waydroidFilter",
        "displayOutFilter",
        "release"
      ]);
      return results
        .filter((a) => {
          return (
            (!filters[0].length || filters[0].includes(a.doc.deviceType)) &&
            a.doc.progressStage >= parseInt(filters[2]) &&
            (!filters[1].length || filters[1].includes(a.doc.portType)) &&
            (filters[3] ? a.doc.installerAvailable : true) &&
            (filters[4] ? a.doc.waydroidAvailable : true) &&
            (filters[5] ? a.doc.displayOutAvailable : true) &&
            filters[6] == a.doc.release
          );
        })
        .map((a) => a.id);
    }

    // Get filter values
    function getFilterValues(query) {
      return query.map((elName) => {
        let elArray = Object.values(
          document.querySelectorAll("[name='" + elName + "']")
        );
        let filterVal = elArray.filter((e) => e.checked).map((e) => e.value);
        filterVal =
          elArray[0].type == "radio"
            ? filterVal[0]
            : elArray.length == 1
            ? filterVal.length == 1
            : filterVal;
        return filterVal;
      });
    }

    function disableFilters() {
      [
        "deviceType",
        "portType",
        "installerFilter",
        "waydroidFilter",
        "displayOutFilter"
      ].forEach((elName) => {
        document
          .querySelectorAll("[name='" + elName + "']")
          .forEach((el) => (el.checked = false));
      });
      document.querySelector("[name='featureStage'][value='0']").checked = true;
      search();
    }

    // Set search results count in UI
    function setResultsCount(count, unfilteredCount) {
      let deviceSearchCount = document.getElementById("deviceSearchCount");
      let searchNoResults = document.getElementById("searchNoResults");
      let filteredWarning = document.getElementById("filteredWarning");
      let deviceSearchMobileCount =
        document.getElementById("deviceCountMobile");

      if (unfilteredCount == 0) {
        searchNoResults.classList.remove("d-none");
        filteredWarning.classList.add("d-none");
      } else if (unfilteredCount > count) {
        searchNoResults.classList.add("d-none");
        filteredWarning.classList.remove("d-none");
      } else {
        searchNoResults.classList.add("d-none");
        filteredWarning.classList.add("d-none");
      }

      deviceSearchCount.innerText =
        count == 1
          ? "One device"
          : count == 0
          ? "No devices"
          : count + " devices";
      deviceSearchMobileCount.innerText =
        count == 1
          ? "One supported device"
          : count == 0
          ? "No supported devices"
          : count + " supported devices";
    }

    // Setup flexsearch
    var FSdoc = new FlexSearch.Document({
      profile: "default",
      tokenize: "forward",
      minlength: 2,
      document: {
        id: "id",
        index: ["codename", "name"],
        store: ["deviceType", "portType", "progressStage", "installerAvailable"]
      }
    });

    // Import data from json to flexsearch
    fetch("/search-index.json")
      .then((response) => response.json())
      .then((data) => {
        data.forEach((fsearchExport) => {
          FSdoc.import(fsearchExport.key, fsearchExport.data);
          if (fsearchExport.key == "store") {
            let searchData = JSON.parse(fsearchExport.data);
            window.searchData = Object.entries(searchData).map((d) => {
              return { id: d[0], doc: d[1] };
            });
          }
        });

        // Register events
        document.getElementById("searchInput").onkeyup = search;
        document.querySelectorAll("input[name]").forEach((el) => {
          el.onchange = el.name == "sortOrder" ? sort : search;
        });
        document.getElementById("disableFilters").onclick = disableFilters;

        sort();
        search();
      });

    document.querySelectorAll(".toggle-sidebarCollapse").forEach((el) => {
      el.onclick = (ev) => {
        document.querySelector("#sidebarCollapse").classList.toggle("show");
      };
    });

    document.querySelectorAll(".advanced-filter-toggle").forEach((el) => {
      el.onclick = (ev) => {
        document.querySelector("#advancedFilters").classList.toggle("show");
      };
    });

    document.querySelectorAll(".advanced-filter-show").forEach((el) => {
      el.onclick = (ev) => {
        document.querySelector("#advancedFilters").classList.add("show");
      };
    });
  });

  // Always run
  window.addEventListener("load", () => {
    // Hide sidebar on page load on mobile
    document.querySelector("#sidebarCollapse")?.classList.remove("show");
    // Mark current device
    document.querySelector(".active--exact")?.classList.remove("active--exact");
    document
      .querySelector(
        "#sidebarCollapse [href='" +
          window.location.pathname.replace(/\/+$/, "") +
          "']"
      )
      ?.classList.add("active--exact");
  });
</script>
